#adding gitignore
/EcommerceAPI/EcommerceAPI.Application/bin
/EcommerceAPI/EcommerceAPI.Application/obj
/EcommerceAPI/EcommerceAPI.Application/vs

/EcommerceAPI/EcommerceAPI.Core/bin
/EcommerceAPI/EcommerceAPI.Core/obj
/EcommerceAPI/EcommerceAPI.Core/vs

/EcommerceAPI/EcommerceAPI.Domain/bin
/EcommerceAPI/EcommerceAPI.Domain/obj
/EcommerceAPI/EcommerceAPI.Domain/vs

/EcommerceAPI/EcommerceAPI.Domain.Services/bin
/EcommerceAPI/EcommerceAPI.Domain.Services/obj
/EcommerceAPI/EcommerceAPI.Domain.Services/vs

/EcommerceAPI/EcommerceAPI.Infrastructure/bin
/EcommerceAPI/EcommerceAPI.Infrastructure/obj
/EcommerceAPI/EcommerceAPI.Infrastructure/vs

/EcommerceAPI/EcommerceWebApi/bin
/EcommerceAPI/EcommerceWebApi/obj
/EcommerceAPI/EcommerceWebApi/vs

/EcommerceAPI/vs
